/** WTF is up with these JS people not knowing css. This css does not represent what I can do. smh **/

@font-face{
    font-family: RobotoCond;
    src: url( assets/roboto-condensed.light.ttf);
    font-weight: 800;
}
@font-face{
    font-family: economicaBold;
    src: url( assets/economica-bold.ttf);
}
body{
    text-align: center;
    font-size: 18px;
    padding: 2.5%; 
    font-family: RobotoCond;
}
h1,h2,h3,h4,h5{ font-family: economicaBold; }

#profilePic{ 
    border-radius: 50%;
    width: 200px;
    height: 200px; 
}

.titleFadeOut{
    opacity: 0;
    animation-name: fade-out;
    animation-duration: 2s;
}
.titleFadeIn{
    opacity: 1;
    animation-name: fade-in;
    animation-duration: 2s;
}

@keyframes fade-out{
    from{opacity: 1;}
    to{opacity: 0;}
}
@keyframes fade-in{
    from{opacity: 0;}
    to{opacity: 1;}
}




